/* Modo oscuro */
body{
   background-color: black;
   color: white;
}
input{background-color: gray;
    border-color: white;
    outline: none;
    border: 0;
}
a{
    color: #e30052;
    text-align: center;
}
header{
    background-color: #001e28;

}